*.gem
*.rbc
.bundle
.config
.yardoc
.rake_tasks
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/rspec
test/tmp
test/version_tmp
tmp
*~
\#*\#
.\#*
assets/*.zip
/samples/_*
